/* Basic CSS Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #333;
}
/* profile photo */
.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 2rem 0;
  border: 4px solid #333;
  box-shadow: 0 0 0 1px #f5f5f5; /* outer darker ring */
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.container {
  color: #fff;
  padding: 1rem 5;
}

.sidebar {
  position: sticky;
  top: 20px;
  align-self: flex-start;
  padding-left: 10.5rem;

  /* Card styling */
  background: #1c1c1c;    
  padding: 2rem;
  border-radius: 20px;        
  border: 1px solid #333;

  /* shadows */
  box-shadow: 
    0 8px 20px rgba(0,0,0,0.4),   /* outer shadow */
    inset 0 0 20px rgba(255,255,255,0.05); /* inner glow */
  
  width: 300px;   
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar a:visited {
  color: #fff;
}

.sidebar a:hover {
  text-decoration: underline;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 0;
}

.social-links li {
  margin-bottom: 0.75rem;
}

.social-links i {
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

main {
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* media query: mobile view */
@media (max-width: 800px) {
}
