/* Basic CSS Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
/* profile photo */
.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 2rem 5;
  border: 4px solid #333;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.container {
  color: #fff;
  padding: 1rem 5;
}

main {
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* media query: mobile view */
@media (max-width: 800px) {
}
